.FamilyTree svg {
	display: block;
	height: 100%;
	width: 100%;
}

.FamilyTree svg text {
	-webkit-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;
}
.FamilyTree svg text::selection {
	background: none;
}
